"*":
  "activate-power-mode":
    comboMode:
      enabled: false
    plugins:
      playAudio: false
      screenShake: true
  core:
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontSize: 16
    softWrap: true
    tabLength: 4
    tabType: "soft"
  "markdown-preview":
    liveUpdate: false
    openPreviewInSplitPane: false
    useGitHubStyle: true
  welcome:
    showOnStartup: false
  "pdf-view":
    fitToWidthOnOpen: true
  welcome:
    showOnStartup: false
